---
import { getCollection } from 'astro:content'
// import { Picture } from 'astro:assets'
// import { Picture } from 'astro-imagetools/components'

import LayoutMain from '../../layouts/Main.astro'
import Banner from '../../components/Banner.astro'
import BlogCard from '../../components/BlogCard.astro'

const allBlog = await getCollection('blog')

// sort by date DESC
const allBlogDateDesc = allBlog.toSorted(
  (a, b) => b.data.sortDate.getTime() - a.data.sortDate.getTime()
)
---

<LayoutMain
  title='Luke Secomb | Web Developer, Photographic connoisseur and Music nerd'
>
  <div class='flex-1 px-4 lg:px-0 mx-auto'>
    <Banner title='Blog'>
      <p>A mixed bag of personal thoughts, exploration and tutorial posts.</p>
    </Banner>
    <div class='max-w-4xl w-full mx-auto grid gap-8'>
      {allBlogDateDesc.map((item) => <BlogCard post={item} />)}
    </div>
  </div>
</LayoutMain>
