---
import Banner from '../components/Banner.astro'
import LayoutMain from '../layouts/Main.astro'
---

<LayoutMain
  title='Colophon | Luke Secomb'
  ogImageId='colophon'
  description='What is this site? Where, why, how and other thoughts.'
>
  <div class='flex-1 px-4 lg:px-0 mx-auto'>
    <Banner title='Colophon' />

    <section class='max-w-4xl mx-auto w-full prose'>
      <p>
        This website is built with <a
          href='https://astro.build/'
          target='_blank'
          rel='nofollow noreferrer'>AstroJS</a
        > (static site) and is hosted on <a
          href='https://pages.cloudflare.com/'
          target='_blank'
          rel='nofollow noreferrer'>Cloudflare Pages</a
        >.
      </p>
      <p>
        Everything is open source and freely available on Github (<a
          href='https://github.com/lukethacoder/luke-secomb-simple/'
          target='_blank'
          rel='nofollow noreferrer'>here</a
        > is the repo).
      </p>
      <p>
        <a
          href='https://www.behance.net/gallery/203313999/Murs-Gothic-(Free-Font)'
          target='_blank'
          rel='nofollow noreferrer'>Murs Gothic</a
        > is the feature font used on this site (in the default theme), a personal
        favourite of mine. The secondary font is <a
          href='https://fonts.google.com/noto/specimen/Noto+Sans'
          target='_blank'
          rel='nofollow noreferrer'>Noto Sans</a
        >.
      </p>
      <p>This is an ever changing and evolving website, both in design, content and functionality.</p>
      <p>
        Inspiration to rebuild my site came from a blog post I stumbled across
        late into the AM recently, <a
          href='https://localghost.dev/blog/this-page-is-under-construction/'
          >This page is under construction: A love letter to the personal
          website</a
        >.
      </p>
      <blockquote>
        If you take just one thing away from this article, I want it to be this: <b
          >please build your own website</b
        >. A little home on the independent web.
      </blockquote>
      <p><a href="/blog/another-site-rebuild">...keep reading</a></p>
    </section>
  </div>
</LayoutMain>
