---
import Banner from '../components/Banner.astro'
import LayoutMain from '../layouts/Main.astro'

const FEEDS = [
  {
    label: 'All posts',
    url: '/rss.xml', // feed.xml should redirect too
    description: 'default feed with everything',
  },
  {
    label: 'Photography',
    url: '/photography/rss.xml',
    description: 'feed of just photos',
  },
  {
    label: 'Blog',
    url: '/blog/rss.xml',
    description: 'blog posts, articles and thoughts',
  },
]
---

<LayoutMain
  title='RSS | Luke Secomb'
  ogImageId="rss"
>
  <div class='flex-1 px-4 lg:px-0 mx-auto'>
    <Banner title='RSS Feeds'>
    </Banner>
    <div class='w-full max-w-4xl mx-auto'>
      <span class='prose'>
        <blockquote>
          RSS (RDF Site Summary or Really Simple Syndication) is a web feed that
          allows users and applications to access updates to websites in a
          standardized, computer-readable format. Subscribing to RSS feeds can
          allow a user to keep track of many different websites in a single news
          aggregator, which constantly monitors sites for new content, removing
          the need for the user to manually check them. - <a href="https://en.wikipedia.org/wiki/RSS" target="_blank" rel="noreferrer nofollow">Wikipedia</a>
        </blockquote>
        <p>RSS feeds, in {new Date().getFullYear()}? Heck yeah!</p>
        <p>This site offers a few different flavours:</p>
        <ul class='grid flex-1'>
          {
            FEEDS.map((item) => (
              <li>
                <a href={item.url} class='underline'>
                  {item.label}
                </a>{' '}
                <span>{item.description}</span>
              </li>
            ))
          }
        </ul>
      </span>
    </div>
  </div>
</LayoutMain>
