---
import Banner from '../../components/Banner.astro'
import LayoutMain from '../../layouts/Main.astro'
---

<LayoutMain title={`Dev`}>
  <div class='flex-1 px-4 lg:px-0 mx-auto'>
    <Banner title='dev' />
  </div>
</LayoutMain>
