<h3 class='uppercase text-xs mb-2'>Think differently</h3>
<h1 class='font-bold text-3xl xxxl:text-4xl leading-tight'>
  Hi, I'm <span class='text-primary'>Luke</span> Web Developer and Photographic connoisseur.
  Specialist Lead at{' '}
  <a
    href='https://deloittedigital.com.au'
    target='_blank'
    rel='noopener'
    class='focus:underline hover:underline'
    style={{ color: '#777777' }}
  >
    Deloitte Digital<span style={{ color: 'rgb(134, 188, 37)' }}>.</span>
  </a>
</h1>
