<h2 class='uppercase text-xs mb-2 pointer-events-none'>Think differently</h2>
<h1 class='font-bold text-3xl xxxl:text-4xl leading-tight cursor-default text-balance'>
  Hi, I'm <span class='text-primary'>Luke</span>
  <span class='web-developer'>Web developer</span>, <span
    class='photographic-connoisseur'>Photographic connoisseur</span
  > and <span class='music-nerd'>Music nerd</span>. Senior Specialist Lead at{' '}
  <a
    href='https://deloittedigital.com.au'
    target='_blank'
    rel='noopener'
    class='deloitte focus:underline hover:underline pointer-events-auto'
    style={{ color: '#777777' }}
  >
    Deloitte Digital<span style={{ color: 'rgb(134, 188, 37)' }}>.</span>
  </a>
</h1>
