---
import Github from './icons/Github.astro'
import LinkedIn from './icons/LinkedIn.astro'
import Instagram from './icons/Instagram.astro'

const { socials } = Astro.props;

const socialSvgComponents: Record<string, any> = {
  github: Github,
  linkedIn: LinkedIn,
  instagram: Instagram,
}
---

<header class='px-4 py-6 lg:py-8 xxl:py-12 flex justify-between'>
  <div class='w-12 text-tertiary'>
    <svg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 350 226.86'>
      <g id='Layer_1-2' data-name='Layer 1'>
        <path
          class='fill-current'
          d='M106.94,22.24,19.24,59l87.7,37v22.24L0,71.71V46.48L106.94,0Z'
        />
        <path
          class='fill-current'
          d='M243.06,204.62l87.7-36.73-87.7-37V108.67L350,155.15v25.24L243.06,226.86Z'
        />
        <path
          class='fill-current'
          d='M242.6,0Q151.42,151.75,136.33,178.45t-15.09,35.39q0,9.77,8.26,9.77,18.25,0,67-68.93,1.08-2.17,2.61-2.17a1.16,1.16,0,0,1,.87,1.3q0,1.3-2.17,3.47l-9.35,12.83q-41.09,56.74-60.64,56.74a19.19,19.19,0,0,1-15.32-7.06q-6-7.06-6-17.91A51.52,51.52,0,0,1,112,178.78q5.54-11.18,37.67-64.59Q189,48.85,215.89.87Z'
        />
      </g>
    </svg>
  </div>
  <div>
    <ul class='flex gap-4 px-4'>
      {socials && socials.map((social: { url: string, title: string, icon: string }) => {
        const IconComponent = socialSvgComponents[social.icon] as any
        return (
        <li class='text-tertiary hover:text-cream flex'>
          <a
            class='w-6 h-6'
            href={social.url}
            title={social.title}
            target='_blank'
          >
            <IconComponent/>
          </a>
        </li>
      )})}
    </ul>
  </div>
</header>