<div class="flex flex-col min-w-3xs w-full">
  <!-- TODO: add a couple other previously tracks here? -->
  <div class="p-3 md:p-4 rounded-xl" style="background-color: var(--theme-background-secondary);">
    <p class='font-(family-name:--theme-font-primary) text-xs leading-1 mt-2 mb-3 skeleton' id="track-status"></p>
    <div class='flex pr-2'>
      <img
        class='w-12 h-12 skeleton'
        id="track-artwork"
      />
      <a class='mt-0.5 ml-2 hover:underline' href="https://www.last.fm/user/lu_ke____" target="_blank">
        <p class='text-2xs line-clamp-1 font-bold skeleton' id="track-name"></p>
        <small class='line-clamp-1 text-tertiary no-underline skeleton' id="track-artist"></small>
      </a>
    </div>
  </div>
  <small class="ml-auto mt-1">View more on <a href="https://www.last.fm/user/lu_ke____" class="underline" target="_blank" rel="nofollow noreferrer">last.fm</a>.</small>
</div>

<style>
  #track-status:empty {
    width: 148px;
    height: 18px;
  }
  #track-name:empty {
    width: 240px;
    height: 16px;
    margin-bottom: 4px;
  }
  #track-artist:empty {
    width: 148px;
    height: 16px;
  }

  .skeleton {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: skeletonShimmer;
    -webkit-animation-timing-function: linear;
    background: #2f2f2f;
    background-image: linear-gradient(to right, #2f2f2f 0%, #4f4f4f 20%, #2f2f2f 40%, #2f2f2f 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    position: relative;
    border-radius: 2px;
  }

  @keyframes skeletonShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  @-webkit-keyframes skeletonShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
</style>

<script>
  import type { LastFmApiResponse } from '../lastfm';

  const API_KEY = import.meta.env.PUBLIC_LAST_FM_API_KEY
  const SCROLLBE_LAST_FM_USER = 'lu_ke____'
  const SCROBBLE_URL = `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${SCROLLBE_LAST_FM_USER}&api_key=${API_KEY}&format=json`

  const trackEl = {
    status: document.querySelector('#track-status') as HTMLElement,
    artwork: document.querySelector('#track-artwork') as HTMLImageElement,
    name: document.querySelector('#track-name') as HTMLElement,
    artist: document.querySelector('#track-artist') as HTMLElement,
  }

  async function fetchCurrentSong() {
    const response = await fetch(SCROBBLE_URL)
    const data: LastFmApiResponse = await response.json()

    if (data) {
      const track = data.recenttracks.track[0]
      
      const trackName = track.name
      const trackArtist = track.artist['#text']
      const status = track["@attr"] ? 'Currently playing' : 'Last played'
      const trackArtwork = track.image?.[1]?.['#text']

      trackEl.status.classList.remove('skeleton')
      trackEl.artwork.classList.remove('skeleton')
      trackEl.name.classList.remove('skeleton')
      trackEl.artist.classList.remove('skeleton')

      trackEl.status.innerHTML = status
      trackEl.artwork.src = trackArtwork
      trackEl.name.innerHTML = trackName
      trackEl.artist.innerHTML = trackArtist
    }
  }

  // fetch on load
  fetchCurrentSong()

  setInterval(() => {
    fetchCurrentSong()
    // interval to re-check the current track every 2mins
  }, 120000)
</script>